# ide files and similiar
.idea
build
cmake-build-*

# Setup file
deploy.git

# debuggers and profilers
.gdb_history
*.nvvp

# cmake files
CmakeCache.txt
CMakeFiles

# documentation
docs

# python environment
python/bin/*
python/include/*
python/lib/*
python/share/*
python/pyvenv.cfg

# object files and binaries
playground/**
!playground/**/
!playground*/**/CMakeLists.txt
!playground/**/*.c
!playground/**/*.cl
!playground/**/*.cxx
!playground/**/*.h
!playground/**/*.hpp
!playground/**/*.tpp
!playground/**/*.sh
!playground/*-dependency/glfw

# Explicitly ignore generated headers
playground/ubpf/bpf_ubpf_program.h
playground/libbpf-bootstrap/bpf_bootstrap_program.h
playground/generic-ebpf/bpf_bootstrap_program.h

# object files and binaries
qemu-csd/**
!qemu-csd/**/
!qemu-csd/**/*.c
!qemu-csd/**/*.cl
!qemu-csd/**/*.cxx
!qemu-csd/**/*.h
!qemu-csd/**/*.hpp
!qemu-csd/**/*.tpp
!qemu-csd/**/CMakeLists.txt

# Ignore generated headers
qemu-csd/bpf_programs/*.h

#dependencies
dependencies/*
!dependencies/*.sh
!dependencies/backward
!dependencies/bpf-examples
!dependencies/CMakeLists.txt
!dependencies/generic-ebpf
!dependencies/fuse-lfs
!dependencies/ftools
!dependencies/libbpf
!dependencies/libfuse
!dependencies/libbpf-bootstrap
!dependencies/linux
!dependencies/linux-510
!dependencies/rocksdb
!dependencies/qemu
!dependencies/qemu-patches
!dependencies/spdk
!dependencies/ubpf
!dependencies/xenium

# test examples and try outs
tests*/**
!tests*/**/
!tests*/**/*.c
!tests*/**/*.cl
!tests*/**/*.cxx
!tests*/**/*.h
!tests*/**/*.hpp
!tests*/**/*.tpp
!tests*/**/CMakeLists.txt

# latex intermediate files
documentation/*
!documentation/**/
!documentation/CMakeLists.txt
!documentation/**/*.bib
!documentation/**/*.tex
!documentation/**/bash/
!documentation/**/images/
!documentation/**/python/

# latex intermediate files
thesis/*
!thesis/CMakeLists.txt
!thesis/**/*.bib
!thesis/**/*.tex
!thesis/resources

thesis-old/*
!thesis-old/**/*.tex

# latex intermediate files
compsys2021/*
!compsys2021/**/
!compsys2021/CMakeLists.txt
!compsys2021/narrative.md
!compsys2021/vu-logo.png
!compsys2021/**/*.bib
!compsys2021/**/*.tex
!compsys2021/**/*.sty
!compsys2021/**/bash/
!compsys2021/**/images/
!compsys2021/**/python/

# latex intermediate files
ictopen2022/*
!ictopen2022/**/
!ictopen2022/CMakeLists.txt
!ictopen2022/narrative.md
!ictopen2022/vu-logo.png
!ictopen2022/**/*.bib
!ictopen2022/**/*.tex
!ictopen2022/**/*.sty
!ictopen2022/**/bash/
!ictopen2022/**/images/
!ictopen2022/**/python/

# latex intermediate files
presentation/*
!presentation/**/
!presentation/CMakeLists.txt
!presentation/vu-logo.png
!presentation/**/*.bib
!presentation/**/*.tex
!presentation/**/*.sty
!presentation/**/bash/
!presentation/**/images/
!presentation/**/python/

# Old prototype files
zcsd/**/*.log
