[submodule "dependencies/backward"]
	path = dependencies/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "dependencies/libbpf"]
	path = dependencies/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "dependencies/qemu"]
	path = dependencies/qemu
	url = https://gitlab.dantalion.nl:4443/mirrors/qemu.git
