# ide files and similiar
.idea
.vscode
build
cmake-build-*

# Setup file
deploy.git

# debuggers and profilers
.gdb_history
*.nvvp

# cmake files
CmakeCache.txt
CMakeFiles

# documentation
docs

# python environment
python/bin/*
python/include/*
python/lib/*
python/share/*
python/pyvenv.cfg

# object files and binaries
playground/**
!playground/**/
!playground*/**/CMakeLists.txt
!playground/**/*.c
!playground/**/*.cl
!playground/**/*.cxx
!playground/**/*.h
!playground/**/*.hpp
!playground/**/*.sh
!playground/*-dependency/glfw

# object files and binaries
qemu-csd/**
!qemu-csd/**/
!qemu-csd/**/*.c
!qemu-csd/**/*.cl
!qemu-csd/**/*.cxx
!qemu-csd/**/*.h
!qemu-csd/**/*.hpp
!qemu-csd/**/CMakeLists.txt

#dependencies
dependencies/*
!dependencies/*.sh
!dependencies/backward
!dependencies/CMakeLists.txt
!dependencies/libbpf
!dependencies/spdk
!dependencies/qemu
!dependencies/qemu-patches

# test examples and try outs
tests*/**
!tests*/**/
!tests*/**/*.c
!tests*/**/*.cl
!tests*/**/*.cxx
!tests*/**/*.h
!tests*/**/*.hpp
!tests*/**/CMakeLists.txt

# latex intermediate files
documentation/*
!documentation/**/
!documentation/CMakeLists.txt
!documentation/**/*.bib
!documentation/**/*.tex
!documentation/**/bash/
!documentation/**/images/
!documentation/**/python/
