[submodule "dependencies/backward"]
	path = dependencies/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "dependencies/libbpf"]
	path = dependencies/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "dependencies/qemu"]
	path = dependencies/qemu
	url = git://git.infradead.org/qemu-nvme.git
[submodule "dependencies/spdk"]
	path = dependencies/spdk
	url = https://github.com/spdk/spdk
