[submodule "dependencies/backward"]
	path = dependencies/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "dependencies/libbpf"]
	path = dependencies/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "dependencies/qemu"]
	path = dependencies/qemu
	url = https://github.com/qemu/qemu.git
[submodule "dependencies/spdk"]
	path = dependencies/spdk
	url = https://github.com/spdk/spdk
[submodule "dependencies/bcc"]
	path = dependencies/bcc
	url = https://github.com/iovisor/bcc.git
[submodule "dependencies/linux"]
	path = dependencies/linux
	url = https://github.com/torvalds/linux.git
[submodule "dependencies/bpf-examples"]
	path = dependencies/bpf-examples
	url = https://github.com/bpftools/linux-observability-with-bpf.git
[submodule "python/lcov-to-cobertura"]
	path = python/lcov-to-cobertura
	url = https://github.com/eriwen/lcov-to-cobertura-xml.git
[submodule "dependencies/libbpf-bootstrap"]
	path = dependencies/libbpf-bootstrap
	url = https://github.com/libbpf/libbpf-bootstrap.git
[submodule "dependencies/ubpf"]
	path = dependencies/ubpf
	url = https://github.com/iovisor/ubpf.git
[submodule "dependencies/generic-ebpf"]
	path = dependencies/generic-ebpf
	url = https://github.com/generic-ebpf/generic-ebpf.git
[submodule "dependencies/libfuse"]
	path = dependencies/libfuse
	url = https://github.com/Dantali0n/libfuse.git
[submodule "dependencies/fuse-lfs"]
	path = dependencies/fuse-lfs
	url = https://github.com/sphurti/Log-Structured-Filesystem.git
[submodule "dependencies/rocksdb"]
	path = dependencies/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "dependencies/ftools"]
	path = dependencies/ftools
	url = https://github.com/credativ/linux-ftools.git
