[Unit]
Description=Setup hugepages and assign drivers to devices as required by SPDK

[Service]
Type=simple
Environment="HUGEMEM=512"
ExecStart=/home/arch/opencsd/dependencies/spdk/scripts/setup.sh

[Install]
WantedBy=multi-user.target